---
layout: layout
title: "bylinebeat | newyork -- local news commentary events & more -- @bylinebeatny"
---
<div class="content">	  
	<div class="row">		
		<div class="span4 columns">
			<div id="bbFeed">
			  {% for post in site.posts %}	
		 <div id="bbCards">
			 <div id="bbHeadline"><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>
			 {% if post.titleimg %}
			 <img class="titleimg" src="{{ post.titleimg }}" alt="{{ post.title }}" />
			 {% endif %}
			  <p><small><strong>Posted on: {{ post.date | date: "%B %e, %Y" }} by Kevin Gailey</strong>  </small></p>
			 <div id="bbSummary"> {{ post.summary }}</div>
			 <!-- div id="share" class="bbAction"><a href="">Share</a></div><div id="read" class="bbAction"><a href="">Read</a></div -->
		 </div>		
			  {% endfor %}		
</div>	</div>
		<div class="span4 columns">
			
		</div>		
		<div class="span4 columns">		  
		  </div>		
	</div>
</div>

